<!DOCTYPE html>

<head>
	<title>关于</title>
	<script async defer src="/yobot-depencency/github-buttons@2.7.0/dist/buttons.min.js"></script>
</head>

<body>
	<p>
		<a onclick="history.go(-1)">返回</a>
	</p>
	<div style="float: left;width: 45%;margin: 0 40px 0;">
		<h1>
			关于yobot2
		</h1>
		<p>
			版本：<br />
			{{ verinfo | replace("\n", "<br />")  }}
		</p>
		<p>
			主页：<br />
			<a href="https://github.com/sparkfff/yobot2" target="_blank" rel="noopener noreferrer">yobot2 项目主页</a>
		</p>
		<p>
			源码：<br />
			<a class="github-button" href="https://github.com/sparkfff/yobot2" data-size="large" data-show-count="true" aria-label="Star sparkfff/yobot2 on GitHub">yobot2</a>
		</p>
		<p>
			问题反馈：<br />
			<a href="https://github.com/sparkfff/yobot2/issues" target="_blank" rel="noopener noreferrer">GitHub Issues</a>
		</p>
		<p>
			项目来源：<br />
			基于 <a href="https://github.com/eggggi/yobot_remix" target="_blank" rel="noopener noreferrer">yobot_remix</a> 与
			<a href="https://github.com/pcrbot/yobot" target="_blank" rel="noopener noreferrer">yobot</a> 开发。
		</p>
		<h4>
			其他
		</h4>
		<p>
			本项目没有开启赞助、打赏的渠道，所有付款行为与本项目无关。<br>
			如果你付费获取了本工具，可能是第三方收取的服务器费用和托管费用。
		</p>
	</div>
	<div style="width: 45%;float: left;text-align: right;margin: 0 10px 0;">
		<h1>
			关于YoCool
		</h1>
		<p>
			：版本<br />
			YoCool-v1.1.1-PrincessAdventure
		</p>
		<p>
			：源码<br />
			<a class="github-button" href="https://github.com/A-kirami/YoCool" data-size="large" data-show-count="true"
			 aria-label="Star A-kirami/YoCool on GitHub">YoCool</a>
		</p>
		<p>
			：交流群<br>1143518690
		</p>
		<p>
			：更新日志<br><a href="https://github.com/A-kirami/YoCool/wiki/update">点我查看</a>
		</p>
		<p>
			：了解更多<br><a href="https://github.com/A-kirami/YoCool/wiki/">YoCool WIKI</a>
		</p>
		<h4>
			PcrLink推广
		</h4>
		<p>
			如需了解更多，请添加 QQ:1575547452<br>
		</p>
		<a href="https://we-aatrox.top/"><img src="/yobot-depencency/yocool@final/princessadventure/logo.png" style="width: 200px;" /></a>
	</div>
</body>
